// Your ESLint configuration
{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "plugins": ["react-hooks"],
  "rules": {
    // ...
    "react-hooks/rules-of-hooks": "false", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
